#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #49af8b;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 5px 5px 5px;
    text-align: center;
    margin: 25px 50px 75px 100px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00a269;
    color: white;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
h2 {
    font-size: 3vw;
    letter-spacing: 0.2em;
    margin-left: 35%;
    margin-bottom: 10px;
}

body {
    background-color: #00915e;
}
@media (max-width: 750px) {
    header {
        margin: 8%;
    }
    .content {
        margin: 8%;
    }
    ul {
        list-style-type: none;
    }
    h1 {
        font-size: 6vw;
        letter-spacing: 0.2em;
    }

    a {
        font-family: "avenir";
        text-decoration: none;
        text-transform: uppercase;
        color: #919191;
        text-align: center;
    }
    a:hover {
        font-family: "avenir";
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        text-align: center;
    }
    a:focus {
        color: black;
    }
    .category {
        font-family: "courier";
        font-size: 5vw;
        font-weight: bold;
        display: inline-block;
        padding-right: 10px;
    }
}

@media (min-width: 751px) {
    header {
        margin: 60px;
    }

    ul {
        list-style-type: none;
    }
    .links {
        display: inline-block;
        padding-right: 10px;
    }
    h1 {
        font-size: 3vw;
        font-weight: bolder;
        letter-spacing: 0.2em;
    }
    a {
        font-family: "avenir";
        text-decoration: none;
        text-transform: uppercase;
        color: #919191;
        text-align: center;
    }
    a:hover {
        font-family: "avenir";
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        text-align: center;
    }
    .category {
        font-family: "courier";
        font-size: 2vw;
        font-weight: bold;
        display: inline-block;
        padding-right: 10px;
    }
    .content h1 {
        font-family: "courier";
        margin-bottom: 30px;
        font-size: 30px;
    }
}

.a {
    position: relative;
    z-index: 3;
    margin-top: 8%;
    margin-left: auto;
    text-align: center;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
}
.grid-container1 a {
    color: rgb(0, 0, 0);
    font-style: normal;
}

.grid-item1 {
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
.center {
    text-align: center;
}
ul.pagination li {
    display: inline-block;
}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid rgb(163, 163, 163);
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
div.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    padding-bottom: 60px;
    color: rgb(0, 0, 0);
    margin-left: 3%;
    margin-right: 3%;
}
.grid-container a {
    color: rgb(0, 0, 0);
    font-style: normal;
}

.grid-item {
    padding: 20%;
    font-size: 50px;
    text-align: center;
}

.about {
    background-color: rgb(245, 245, 245);
}
.about img {
    width: 350px;
    height: 350px;
    border-radius: 80%;
}
.about fieldset {
    margin-left: 5%;
    margin-right: 5%;
    border: 0px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
}
.about fieldset h1 {
    font-size: 30px;
    font-style: oblique;
}
.about td,
p {
    font-size: 20px;
    font-style: normal;
}

#footer {
    background-color: #49af8b;

    text-align: center;
}
.sosmed img {
    width: 50px;
    height: 50px;
    padding: 10px;
    position: relative;
}
.footer-item {
    margin-top: 50px;
    flex: 1;
    padding: 25px;
}
.footer-item h2 {
    text-align: center;
}
.footer-menu ul {
    position: relative;
}
.footer-menu ul li {
    display: inline-block;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.footer-menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
